<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Objective Bank</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="mystic-client/config/environment" content="%7B%22modulePrefix%22%3A%22mystic-client%22%2C%22environment%22%3A%22{{appEnvironment}}%22%2C%22APP%22%3A%7B%22apiHost%22%3A%22{{baseURL}}%22%7D%7D" />

        <link rel="stylesheet" href={{cssURL}}>
    </head>

    <body>
        <script id="Database">
            const Database = {{{data}}};
        </script>

        <div id="app"></div>
        <script src={{scriptURL}}></script>
    </body>
</html>
